{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load custom_tags %}

{% block content %}

    <div class="row text-center my-5">
        <div class="col">
            <h3 class="font-weight-bold">КОРЗИНА ТОВАРОВ</h3>
        </div>
    </div>
    <form action="{% url 'cart-product-update' %}" method="post">
        {% csrf_token %}
        {{ formset.management_form }}

        {% for form in formset %}
            {% with product=form.instance.product cart_product=form.instance %}
                <div class="row my-5">
                    <div class="col-3 card-product">
                        <a href="{% url 'product-detail' product.slug %}">
                            <div class="badges d-flex flex-column">
                                {% if product.is_hit %}
                                    <div class="notify-badge badge-is-hit mb-1">{{ product|get_field_name:'is_hit'|upper }}</div>
                                {% endif %}
                                {% if product.is_new %}
                                    <div class="notify-badge badge-is-new mb-1">{{ product|get_field_name:'is_new'|upper }}</div>
                                {% endif %}
                                {% if product.discount %}
                                    <div class="notify-badge badge-discount mb-1">-{{ product.discount }}%</div>
                                {% endif %}
                            </div>
                            <img class="card-img-top" src="






                                    {% if product.small_image %}{{ product.small_image.url }} {% else %} https://via.placeholder.com/372 {% endif %}"
                                 alt="">
                        </a>
                    </div>
                    <div class="col-9 text-right align-self-center">
                        <div>
                            <h4 class="card-title">
                                <a href="{% url 'product-detail' product.slug %}">
                                    {% if product.is_bouquet %}
                                        {{ product.title }} <br> {{ cart_product.bouquet.get_size_display }}
                                    {% else %}
                                        {{ product.title }}
                                    {% endif %}
                                </a>
                            </h4>
                            <h5 class="product-price">{{ cart_product.price|floatformat:0 }} ₽</h5>
                            <h5> {{ form|crispy }}</h5>
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}
        <div class="text-center">
            <button type="submit" class="btn orange-btn">Сохранить</button>
        </div>
    </form>
    <hr>
    <div class="row text-right">
        <div class="col">
            <h4>Количество товаров: {{ cart.product_total }}</h4>
            <h4>Общая сумма: {{ cart.price_total }}</h4>

        </div>
    </div>
{% endblock %}
