{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="row my-4">
        <div class="col">
            <h1>Личный кабинет</h1>
        </div>
    </div>
    <div class="row my-4">
        <div class="col">
            <a href="{% url 'user-update' %}" class="btn orange-btn">Изменить информацию о себе</a>
            <a href="{% url 'cart-product-update' %}" class="btn orange-btn">Корзина</a>
        </div>
    </div>
    <div class="row my-4">
        <div class="col">
            <h3>Последние заказы</h3>
        </div>
    </div>
    {% for order in request.user.orders.all %}
        <div class="row my-4 last-order">
            <div class="col-4 last-order-info">
                <h6>Код: {{ order.pk }}</h6>
                <h6>Дата заказа: {{ order.created_at }}</h6>
                <h6>Статус: {{ order.get_status_display }}</h6>
                <h6>Сумма: {{ order.price_total }} ₽</h6>
            </div>
            <div class="col-8 d-flex align-self-center justify-content-center">
                {% for cart_product in order.products.all %}
                    <div class="">
                        <img class="mx-2" width="72" src="
                                {% if cart_product.product.small_image %}{{ cart_product.product.small_image.url }} {% else %} https://via.placeholder.com/372 {% endif %}"
                             alt="">
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}