{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-7">
            <img class="card-img-top" src="
                    {% if object.big_image %}{{ object.big_image.url }} {% else %} https://via.placeholder.com/640 {% endif %}"
                 alt="">
        </div>
        <div class="col-5">
            {% if object.is_present %}
                {% include 'main/present_detail.html' %}
            {% else %}
                {% include 'main/bouquet_detail.html' %}
            {% endif %}
            {% include 'accordion.html' %}

        </div>
    </div>
{% endblock %}
