<div class="card h-100 card-product">
    <a href="{% url 'product-detail' object.slug %}">
        <span class="notify-badge">NEW</span>
        <img class="card-img-top" src="{% if object.small_image %}{{ object.small_image.url }} {% else %} https://via.placeholder.com/372 {% endif %}" alt="">
    </a>
    <div class="card-body">
        <h4 class="card-title">
            <a href="{% url 'product-detail' object.slug %}">{{ object.title }}</a>
        </h4>
        <h5>от {{ object.min_price }} ₽</h5>
    </div>
</div>