{% load custom_tags %}

<div class="card h-100 card-product">
    <a href="{% url 'product-detail' object.slug %}">
        <div class="badges d-flex flex-column">
            {% if object.is_hit %}
                <div class="notify-badge badge-is-hit mb-1">{{ object|get_field_name:'is_hit'|upper }}</div>
            {% endif %}
            {% if object.is_new %}
                <div class="notify-badge badge-is-new mb-1">{{ object|get_field_name:'is_new'|upper }}</div>
            {% endif %}
            {% if object.discount %}
                <div class="notify-badge badge-discount mb-1">-{{ object.discount }}%</div>
            {% endif %}
        </div>
        <img class="card-img-top" src="{% if object.small_image %}{{ object.small_image.url }} {% else %} https://via.placeholder.com/372 {% endif %}" alt="">
    </a>
    <div class="card-body">
        <h4 class="card-title">
            <a href="{% url 'product-detail' object.slug %}">{{ object.title }}</a>
        </h4>
        <h5 class="product-price">от {{ object.price|floatformat:0 }} ₽</h5>
        {% csrf_token %}
        <a url="{% url 'cart-product-create' object.pk %}?size={{ object.get_middle_bouquet.size }}" class="btn-add-cart"><span>Добавить в корзину</span></a>
    </div>
</div>