html {
    color: #222;
}

a {
    outline: 0!important;
    text-decoration: underline;
    color: #f23a70;
}

.btn:hover {
    background: #f23a70;
    color: #fff;
}

.nav-header {
    font-size: 12px;
}

.nav-header .nav-item a {
    color: #222;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-header .nav-item a:hover {
    outline: 0!important;
    text-decoration: underline;
    color: #f23a70;
}

.header-contacts .label {
    font-size: 12px;
    color: #9f9f9f;
    font-style: italic;
    margin-bottom: 5px;
}

.header-contacts .contact {
    font-size: 21px;
}

.header-contacts .icons a {
    width: 30px;
    height: 30px;
    background: url('/static/images/icons.png') -450px -240px;
    text-indent: -9999px;
    display: block;
    margin-right: 10px;
}

.header-contacts .icons .whatsapp {
    background-position: -450px -210px;
}

.header-contacts .icons .viber {
    background-position: -450px -270px;
}

.header-contacts .icons .instagram {
    background-position: -510px -240px;
}

.header-contacts .cart {
    font-size: 21px;
    text-decoration: none;
    color: #ed5175;
    position: relative;
    padding-left: 36px;
    top: 18px;
    height: 27px;
}

.header-contacts .cart:after {
    width: 30px;
    height: 30px;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -16px;
    background: url('/static/images/icons.png') -480px -210px;
}

.navbar {
    background: #ed5175;
    border-top: 1px solid #ed5175;
    border-bottom: 1px solid #ed5175;
    padding: 0;
}

.navbar .nav-item {
    border-right: 1px solid #f18d9e;
}

.navbar .nav-item a {
    display: block;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 0 20px;
    line-height: 55px;
}
.navbar .dropdown-menu {
    padding: 0;
}
.navbar .nav-item .dropdown-item {
    color: #222;
    text-transform: unset;
    font-size: 13px;
    text-align: left;
    line-height: 40px;
    position: relative;
    border-bottom: 1px solid #eee;
}

.footer {
    background: #ffe7ea
}

.footer .logo {
    display: block;
    height: auto;
    width: 100px;
}

.footer .nav-item a {
    color: #222;
    font-weight: 500;
    text-decoration: none;
}

.footer .nav-item a {
    color: #222;
    font-weight: 500;
    text-decoration: none;
}

.footer .nav-item a:hover {
    color: #e25a76;
}

.footer .icons a {
    width: 30px;
    height: 30px;
    float: left;
    background: url('/static/images/icons.png') no-repeat scroll -60px 0;
    margin-right: 7px;
}

.footer .icons a.instagram {
    background-position: -120px 0;
}

.footer .icons a.whatsapp {
    background-position: -150px 0;
}

.footer .icons a.telegram {
    background-position: -180px 0;
}

.footer .contact {
    font-size: 18px;
}
.footer .btn {
    font-size: 14px;
    color: #f23a70;
    line-height: 38px;
    padding: 0 17px;
    border: 2px solid #f23a70;
    border-radius: 100px;
    text-decoration: none;
}

.footer .btn:hover {
    background: #f23a70;
    color: #fff;
}

.card-product {
    position: relative;
    display: inline-block;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #ffcdcf;
}


.card-product:hover {
    box-shadow: 0 0 24px 1px rgba(65,56,58,.35);
}

.card-product .badges {
    position: absolute;
    right: -20px;
    top: 10px;
}

.card-product .card-title {
    font-size: 17px;
}

.card-product .product-price {
    font-weight: bold;
}

.card-product a{
    color: black;
}

.card-product .btn-add-cart {
    vertical-align: top;
    position: relative;
    display: block;
    text-decoration: none;
    padding: 2px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 8px 0;
    color: #111;
    background: #e9478f;
    cursor: pointer;
}

.card-product .btn-add-cart span {
    display: block;
    line-height: 46px;
    text-align: center;
    background: #fff;
}

.card-product .btn-add-cart span:hover {
    color: #e9478f;
}

.card-product .notify-badge {
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 0 20px;
    font-weight: bold;
    font-size: 12px;
    line-height: 29px;
}

.card-product .badges .badge-discount {
    background: #cb2159;
}

.card-product .badges .badge-is-hit {
    background: #7dcb21;
}

.card-product .badges .badge-is-new {
    background: #1abee9;
}

.page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pagination a {
    display: block;
    min-width: 18px;
    line-height: 18px;
    border: 1px solid #de516b;
    border-radius: 100px!important;
    padding: 0 3px;
    color: #de516b;
    font-size: 14px;
    margin-right: 5px;
    text-decoration: none;
}

.pagination .page-item.active .page-link {
    background: #de516b;
    color: #fff;
    border-color: #de516b;
}

.pagination .page-item:hover a{
    background: white;
    border-color: inherit;
    color: #de516b;
}

img {
    max-width: 100%;
    height: auto;
}
.contact-card {
    box-shadow: 0 0 24px 1px rgba(65,56,58,.35);
}
.contact-card .contact-item {
    padding-left: 32px;
    margin: 17px 0;
    position: relative;
}

.contact-card .contact-item:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    background: url('/static/images/icons.png') no-repeat scroll -300px 0;
    width: 30px;
    height: 30px;
    margin-top: -16px;
}

.contact-card .contact-item.phone:after {
    background-position: -330px 0;
    left: -3px;
}

.contact-card .contact-item.email:after {
    background-position: -360px 0;
    left: -3px;
}

.contacts-page .icons a {
    width: 30px;
    height: 30px;
    background: url('/static/images/icons.png') no-repeat scroll -60px 0;
    margin-right: 7px;
}

.contacts-page .icons a.instagram {
    background-position: -120px 0;
}

.contacts-page.icons a.whatsapp {
    background-position: -150px 0;
}

.contacts-page .icons a.telegram {
    background-position: -180px 0;
}

.review {
    padding: 40px 45px;
    background: #f8f6f6;
    border-radius: 10px;
    font-style: italic;
}

.review .date {
    color: #9f9f9f;
    font-size: 12px;
    font-weight: 600;
}


.review .stars .star {
    width: 19px;
    height: 19px;
    background:  -300px -330px;
    text-indent: -9999px;
    cursor: pointer;
    margin-right: 4px;
}

.review .review-body {
    margin: 18px 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
}

.create-review {
    background: #f99a00;
    border-radius: 100px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 42px;
    padding: 0 17px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Roboto,Arial,sans-serif;
    border: none;
    cursor: pointer;
    outline: 0!important;
}

.modal .form-control {
    border-radius: 10px!important;
    border: 1px solid #f1b0bb!important;
}

.filter {
    border: none;
    border-radius: 8px;
    background: #f4f0f0;
    margin-bottom: 30px;
    color: #856969;
}

.filter .nav-item a {
    color: #856969;
}

.filter .nav-item {
    border-right: 2px solid #fff;
}

.filter .dropdown-menu {
    min-width: 300px !important;
}

.filter input[type=checkbox] {
    display: none;
}
.filter input[type=checkbox]+label {
    font-size: 14px;
    color: #856969;
    position: relative;
    padding-left: 27px;
    cursor: pointer;
    display: block;
}

.filter input[type=checkbox]+label:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: url('/static/images/icons.png') no-repeat scroll -270px -30px;
    left: 0;
    top: 1px;
}

.filter input[type=checkbox]:checked+label:after {
    background-position: -270px -60px;
}
.filter input[type=checkbox]+label:after {
    top: -1px;
}