{% load widget_tweaks %}

<form action="{% url 'review-create' %}" method="post">
    {% csrf_token %}

    {% for field in form.visible_fields %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% if field.field.widget.input_type == 'file' %}
                {{ field|add_class:'form-control-file'|add_error_class:'is-invalid' }}
            {% else %}
                {{ field|add_class:'form-control'|add_error_class:'is-invalid'|attr:'rows:5' }}
            {% endif %}
        </div>
        {% if form.errors %}
            <div class="invalid-feedback">
                {{ field.errors.as_text }}
            </div>
        {% endif %}
    {% endfor %}
    <div class="text-center">
        <button type="submit" class="btn create-review">Оставить отзыв</button>
    </div>
</form>