{% extends 'base.html' %}


{% block content %}
    <div class="row">
        <div class="col text-center">
            <h1>ОТЗЫВЫ О САЛОНЕ</h1>
        </div>
    </div>
    <div class="row">
        {% include 'messages.html' %}
    </div>
    <div class="row">
        <a href="#" class="btn orange-btn my-4" data-toggle="modal" data-target="#exampleModal">Оставить отзыв</a>
        {% for object in object_list %}
            <div class="row mb-5 w-100">
                <div class="container-fluid">
                    {% include 'reviews/review.html' %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'pagination.html' %}
    {% include 'reviews/review_create.html' %}
{% endblock %}
