{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <h1>О НАС</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-5 mr-5">
            <p class="text-justify">
                <strong>FLORISTAN.RU</strong> — это всегда высокое качество обслуживания клиентов и свежие композиции.
                Мир флористики
                постоянно вносит коррективы и новые тенденции.

                Специалисты нашего интернет-магазина следят за новинками в данной области, поэтому предлагаемые букеты
                всегда привлекательны и современны. Они способны выразить Ваши самые сокровенные чувства и эмоции.
            </p>
        </div>
        <div class="col-5">
            <img src="{% static 'images/about-1.jpg' %}" alt="FLORISTAN">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-5 mr-5">
            <img src="{% static 'images/about-2.jpg' %}" alt="FLORISTAN">
        </div>
        <div class="col-5">
            <h3><strong>Почему стоит сделать заказ в нашем цветочном магазине?</strong></h3>
            <p class="text-justify">
                Компания FLORISTAN С 2011 года занимается продажей свежесрезанных цветов из разных уголков земли.
                Благодаря нашей компании у Вас есть возможность дистанционно выбрать заинтересовавшие Вас цветы и
                получить их в срок когда вам необходимо сделать презент. Если, по какой-либо причине, у Вас нет
                возможности забрать или подарить цветы, то мы можем сделать это за Вас. Наши курьеры в лучшем виде
                доставят цветы до адресата и передадут Ваши пожелания в письменной или устной форме.
            </p>
        </div>
    </div>
    <div class="row"></div>
{% endblock %}
