<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    Преимущества
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    <li>Скидка 10% при самовывозе</li>
                    <li>Открытка стоимостью 100 р. в подарок</li>
                    <li>Средство для продления жизни цветов до 2х недель в подарок</li>
                    <li>Цветы простоят 5 дней* или заменим букет</li>
                    <li>Фото перед отправкой</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                    Доставка
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                Доставка в г. Казань - БЕСПЛАТНО в течение 1 часа
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                    Оплата
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <div class="text">
                    <span class="label">Карта Visa/MasterCard</span> Сбербанк Онлайн<br>
                    <span class="label">PayPal</span> Яндекс.Деньги<br>
                    <span class="label">Альфа-Клик</span> QIWI Wallet<br>
                    <span class="label">Оплата курьеру</span>
                </div>
            </div>
        </div>
    </div>
</div>