{% extends 'base.html' %}

{% block content %}
    <div class="contacts-page">
        <div class="row">
            <div class="col text-center">
                <h1>НАШИ КОНТАКТЫ</h1>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center p-5">
                <div class="card contact-card" style="width: 20rem;">
                    <div class="card-body">
                        <div class="contacts-items">
                            <div class="contact-item address">Казань, Спартаковская, 35</div>
                            <div class="contact-item phone">8 (937) 615-14-65</div>
                            <div class="contact-item email"><a href="mailto:info@floristan.ru">info@floristan.ru</a>
                            </div>
                        </div>
                        <div class="social-items">
                            <p><strong>Мы в соц. сетях:</strong></p>
                            <div class="icons d-flex justify-content-center">
                                <a href="" class="vkontakte"></a>
                                <a href="" class="instagram"></a>
                                <a href="" class="whatsapp"></a>
                                <a href="" class="telegram"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
