{% load static %}

<div class="container-fluid footer py-5">
    <div class="container">
        <div class="row">
            <div class="col-1 align-self-center mr-5">
                <a class="nav-link active p-0" href="{% url 'index' %}">
                    <img class="logo" src="{% static 'images/logo.png' %}" alt="logo">
                </a>
            </div>
            <div class="col-6 d-flex flex-column align-self-center">
                <div class="row mb-2">
                    <div class="col">
                        <ul class="nav">
                            <li class="nav-item mr-3">
                                <a class="nav-link active p-0" href="{% url 'index' %}">Главная</a>
                            </li>
                            <li class="nav-item mr-3">
                                <a class="nav-link p-0" href="{% url 'product-list' %}">Каталог</a>
                            </li>
                            <li class="nav-item mr-3">
                                <a class="nav-link p-0" href="{% url 'shipping' %}">Доставка и оплата</a>
                            </li>
                            <li class="nav-item mr-3">
                                <a class="nav-link p-0" href="{% url 'review-list' %}">Отзывы</a>
                            </li>
                            <li class="nav-item mr-3">
                                <a class="nav-link p-0" href="{% url 'about' %}">О нас</a>
                            </li>
                            <li class="nav-item mr-3">
                                <a class="nav-link p-0" href="{% url 'contacts' %}">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        ИП TAКОЙТО Р.М. | ОГРН: 3123123123123122 | ИНН: 1231231231231
                    </div>
                </div>
            </div>
            <div class="col-2 align-self-center">
                <div class="icons d-flex justify-content-center">
                    <a href="" class="vkontakte"></a>
                    <a href="" class="instagram"></a>
                    <a href="" class="whatsapp"></a>
                    <a href="" class="telegram"></a>
                </div>
            </div>
            <div class="col-2 d-flex flex-column align-self-center justify-content-center">
                <div class="contact mb-1">+7 (843) 233-48-40</div>
                <a class="btn" href="#" role="button">Перезвоните мне</a>
            </div>
        </div>
    </div>
</div>