{% load static %}

<div class="container my-2">
    <div class="row">
        <div class="col-2">
            <img src="{% static 'images/logo.png' %}" alt="logo">
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">О НАС</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ДОСТАВКА И ОПЛАТА</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ОТЗЫВЫ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">КОНТАКТЫ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">СТАТУС И ОПЛАТА ЗАКАЗА</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ИЗБРАННОЕ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row justify-content-center">
                <div class="col-3">
                    Свяжитесь с нами
                    +7 (843) 233-48-40
                </div>
                <div class="col-3">
                    Напишите нам
                </div>
                <div class="col-3">
                    Город доставки
                </div>
                <div class="col-3">
                    Корзина
                </div>
            </div>
        </div>
    </div>
</div>