{% load static %}

<div class="container my-2">
    <div class="row">
        <div class="col-2">
            <img src="{% static 'images/logo.png' %}" alt="logo">
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">О НАС</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ДОСТАВКА И ОПЛАТА</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ОТЗЫВЫ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">КОНТАКТЫ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">СТАТУС И ОПЛАТА ЗАКАЗА</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ИЗБРАННОЕ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <ul class="nav">
                        <li class="nav-item">
                        <span class="nav-link">
                            Свяжитесь с нами
                            +7 (843) 233-48-40
                        </span>
                        </li>
                        <li class="nav-item">
                        <span class="nav-link">
                            Напишите нам
                        </span>
                        </li>
                        <li class="nav-item">
                        <span class="nav-link">
                            Город доставки
                        </span>
                        </li>
                        <li class="nav-item">
                        <span class="nav-link">
                            Корзина
                        </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>