{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <h1>ДОСТАВКА И ОПЛАТА ЗАКАЗА БУКЕТОВ В КАЗАНЬ</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-5 mr-5">
            <h3><strong>Доставка цветов</strong></h3>
            <p class="text-justify">
                Если вас интересует доставка цветов на дом с предварительным звонком или без (во втором случае получится
                настоящий сюрприз для одариваемого), загляните на сайт салона FLORISTAN.RU. Широкий ассортимент,
                возможность выполнения индивидуальных решений любой сложности, адекватные цены – букет цветов с
                доставкой будет именно таким, как вам нужно, и не опоздает ни на минуту.

                Салон работает ежедневно с 8:00 до 21:00. Заказы принимаются круглосуточно, доставка вне рабочие часы
                салона принимаются заранее.

                Внимание! Доставка по городу бесплатная. Подробности уточняйте по телефону.
            </p>
        </div>
        <div class="col-5">
            <img src="{% static 'images/pay-1.jpg' %}" alt="FLORISTAN">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-5 mr-5">
            <img src="{% static 'images/pay-2.jpg' %}" alt="FLORISTAN">
        </div>
        <div class="col-5">
            <h3><strong>Оплата заказа</strong></h3>
            <p class="text-justify">ОПЛАТУ можно произвести при помощи ONLINE сервиса YandexKassa.</p>
            <p class="text-justify">Произвести оплату при помощи перевода денежных средств на банковскую карту нашего
                директора СБЕРБАНК,
                АЛЬФАБАНК, СВЯЗНОЙ.</p>
            <p class="text-justify">Оплата при помощи электронной коммерции: ЯНДЕКС ДЕНЬГИ, QIWI КОШЕЛЁК, WEB MONEY</p>
            <p class="text-justify">Если у Вас возникли какие-либо вопросы. У Вас есть возможность заказать обратный
                звонок или позвонить по
                бесплатному номеру</p>
            <p class="text-justify">
                8 (937) 615-14-65 и наши специалисты с радостью проконсультируют и помогут Вам совершить покупку!
            </p>
            <p>
                <img src="{% static 'images/pay-3.png' %}" alt="">
            </p>
        </div>
    </div>
{% endblock %}
