{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_admin.css' %}">
    {% block style %}
    {% endblock %}
    <title>
        {% block title %}
            Админка | FLORISTAN
        {% endblock %}
    </title>
</head>
<body>

    {% block navbar %}
        {% include 'custom_admin/navbar.html' %}
    {% endblock %}

    <div class="container my-5">
        {% block content %}

        {% endblock %}
    </div>


    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    {% block scripts %}

    {% endblock %}

</body>
</html>
