<div id="app" class="mt-5">
    <form @submit.prevent="saveBouquets" method="post">
        <div class="row text-center justify-content-center">
            <div class="col-3 mr-2">
                {% include 'custom_admin/bouquet_small.html' %}
            </div>
            <div class="col-3 mr-2">
                {% include 'custom_admin/bouquet_middle.html' %}
            </div>
            <div class="col-3">
                {% include 'custom_admin/bouquet_big.html' %}
            </div>
        </div>
        <div class="row my-5 text-center">
            <div class="col">
                <button type="submit" class="btn btn-primary">Сохранить букеты</button>
            </div>
        </div>
    </form>
</div>

{{ bouquets|json_script:'bouquets' }}
{{ flowers|json_script:'flowers' }}
<script>
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
    const flowers = JSON.parse(document.getElementById('flowers').textContent);
    const bouquets = JSON.parse(document.getElementById('bouquets').textContent);
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            message: 'Bouquets',
            flowers: flowers,
            bouquets: bouquets
        },
        methods: {
            saveBouquets: function() {
                console.log(this.bouquets)
                axios
                    .post('{% url "api:product-bouquets" object.pk %}', this.bouquets)
                    .then(response => {
                        console.log(response)
                        this.bouquets = response.data
                    })
                    .catch(error => {
                        console.log(error.response.data);

                        this.errored = true;
                    })
                    .finally(() => (this.loading = false));
            },
            addNewBouquetFlower: function(bouquet) {
                bouquet.push({
                    count: '',
                    flower: ''
                });
            },
            deleteBouquetFlower: function(bouquet, index) {
                bouquet.splice(index, 1)
            },
            addNewBouquetFlowerToSMALL: function () {
                this.addNewBouquetFlower(this.bouquets.SMALL)
            },
            deleteBouquetFlowerFromSMALL: function (index) {
                this.deleteBouquetFlower(this.bouquets.SMALL, index)
            },
            addNewBouquetFlowerToMIDDLE: function () {
                this.addNewBouquetFlower(this.bouquets.MIDDLE)
            },
            deleteBouquetFlowerFromMIDDLE: function (index) {
                this.deleteBouquetFlower(this.bouquets.MIDDLE, index)
            },
            addNewBouquetFlowerToBIG: function () {
                this.addNewBouquetFlower(this.bouquets.BIG)
            },
            deleteBouquetFlowerFromBIG: function (index) {
                this.deleteBouquetFlower(this.bouquets.BIG, index)
            },
        }
    })

</script>