<h4 class="mb-2">
    Большой
    <span @click="addNewBouquetFlowerToBIG">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
    </span>
</h4>
<div class="form-row mb-3" v-for="(bouquetFlower, index) in bouquets.BIG">
    <div class="col-4">
        <input required min=1 v-model="bouquetFlower.count" type="number" name="count" class="form-control">
    </div>
    <div class="col-7">
        <select required v-model="bouquetFlower.flower" class="form-control">
            <option value="" selected="">---------</option>
            <option v-for="flower in flowers" :key="flower.id" :value="flower.id">[[ flower.title ]]</option>
        </select>
    </div>
    <div class="col-1 align-self-center">
        <span style="cursor: pointer; color: red;" @click="deleteBouquetFlowerFromBIG(index)">
            X
        </span>
    </div>
</div>