{% extends 'custom_admin/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col justify-content-center d-flex flex-column text-center">
            <h4 class="mb-3">{{ title }}</h4>
            <form action="{{ action }}" method="post">
                {% csrf_token %}
                {{ formset.management_form|crispy }}
                {% for form in formset.forms %}
                    <div class="formset_row formset_row-{{ formset.prefix }} mb-5 w-50 mx-auto">
                        {% for hidden in form.hidden_fields %}
                            {{ hidden|as_crispy_field }}
                        {% endfor %}
                        {% if formset.can_delete %}{{ form.DELETE }}{% endif %}
                        {% crispy form %}
                    </div>
                {% endfor %}
                <div class="my-3">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $('.formset_row-{{ formset.prefix }}').formset({
            addText: 'Добавить',
            deleteText: 'Удалить',
            prefix: '{{ formset.prefix }}',
        });
    </script>
{% endblock %}