{% extends 'custom_admin/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    {% crispy form %}
    <div class="row my-5 justify-content-center">
        <div class="col-4 text-center">
            {% with small_bouquet=object.get_small_bouquet %}
                {% if small_bouquet %}
                    <a href="{% url 'custom_admin:bouquet-small-update' object.pk %}" class="btn btn-secondary">Изменить Букет (маленький)</a>
                {% else %}
                    <a href="{% url 'custom_admin:bouquet-small-create' object.pk %}" class="btn btn-secondary">+ Букет (маленький)</a>
                {% endif %}
            {% endwith %}
        </div>
        <div class="col-4 text-center">
            <a class="btn btn-secondary">+ Букет (средний)</a>
        </div>
        <div class="col-4 text-center">
            <a class="btn btn-secondary">+ Букет (большой)</a>
        </div>
    </div>
{% endblock %}
