{% extends 'custom_admin/base.html' %}

{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row my-5">
        <div class="col">
            {% crispy filter.form filter.form.helper %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>{{ title }}</h4>
        </div>
        <div class="col text-right">
            <h4>{% if create_view_name %} <a href="{% url create_view_name %}" type="button" class="btn btn-secondary">Добавить</a>{% endif %}</h4>
        </div>

    </div>
    <div class="row">
        <div class="col">
            {% render_table table %}
        </div>
    </div>
{% endblock %}
