{% extends 'custom_admin/base.html' %}

{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}

    {% include 'messages.html' %}

    <div class="row my-5">
        <div class="col">
            {% crispy filter.form filter.form.helper %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>{{ title }}</h4>
        </div>
        <div class="col text-right">
            {% if create_view_name %}
                <h4>
                    <a href="{% url create_view_name %}" type="button" class="btn btn-secondary">Добавить</a>
                </h4>
            {% endif %}
            {% if present_create_view_name and bouquet_create_view_name %}
                <h4>
                    <a href="{% url present_create_view_name %}" type="button" class="btn btn-secondary">Добавить
                        Подарок</a>
                    <a href="{% url bouquet_create_view_name %}" type="button" class="btn btn-secondary">Добавить
                        Букет</a>
                </h4>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% render_table table %}
        </div>
    </div>
{% endblock %}
