{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand mr-5" href="#">
        <img src="{% static 'images/logo.png' %}" alt="FLORISTAN" width="100">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Заказы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Корзины</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Отзывы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Настройки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Перезвоните мне</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Магазин
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'custom_admin:product-list' %}">Товары</a>
                    <a class="dropdown-item" href="{% url 'custom_admin:category-list' %}">Категории</a>
                    <a class="dropdown-item" href="{% url 'custom_admin:reason-list' %}">Поводы</a>
                    <a class="dropdown-item" href="{% url 'custom_admin:flower-list' %}">Цветы</a>
                    <a class="dropdown-item" href="{% url 'custom_admin:color-list' %}">Цвета букетов</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Букеты</a>
                </div>
            </li>
        </ul>
    </div>
</nav>